.card {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  height: 256px;

  overflow: hidden;

  background-color: var(--dark);
}

.cover {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 2;

  padding: 1rem 1rem;
  width: 100%;
}

.gradient {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70%;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.date {
  font-size: 14px;
  font-weight: 300;

  color: var(--light);
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  margin: 0.25rem 0 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.readRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--main-color);
  fill: var(--main-color);

  margin: 0.25rem 0 0 0;
}

.readLabel {
  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.readArrow {
  font-size: 24px;
}
