.container {
  position: relative;

  width: 100vw;
  height: 840px;

  overflow: hidden;

  background-color: var(--see-trough);
}

.cover {
  width: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  z-index: 999;

  bottom: 0;
  left: 0;

  width: 100%;

  padding: 2rem;

  background: linear-gradient(180deg, rgba(15, 37, 57, 0) 0%, #0f2539 100%);
}

.description {
  max-width: 640px;

  margin: 1rem 0 2rem 0;
}

.circle {
  position: relative;

  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: var(--light);

  margin-right: 8px;
}

.circle:hover {
  cursor: pointer;
}

.active {
  background-color: var(--main-color);
}

.indicators {
  display: flex;
  align-items: center;
}
