.footer {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 1.5rem;

  max-width: var(--max-content-width);
}

.left {
  justify-self: start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 0.5rem;
}

.logo {
  width: 250px;
}

.nav {
  display: flex;
  align-items: flex-start;
}

.pageLink {
  margin: 0.25rem 0;
}

.navSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 2rem 0 0;
}

.navSectionTitle {
  font-size: 14px;
  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 0.02em;

  opacity: 0.8;

  margin: 0 0 0.5rem 0;
}

.icon {
  margin-right: 0.5rem;
  width: 30px;
}

.right {
  justify-self: end;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: var(--bold);
  text-align: right;
}

.ctaButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  margin: 2rem 0;
}

.marginButtons {
  margin: 0.5rem 0;
}

.miles {
  display: flex;
  align-items: center;
}

.milesLogo {
  height: 15px;
  margin-right: 0.5rem;
  padding-bottom: 3px;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .nav {
    margin: 2rem 0;
  }
  .right {
    align-items: flex-start;
    margin: 2rem 0 0 0;
  }
  .title {
    text-align: left;
  }
  .ctaButtons {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 440px) {
  .left {
    justify-content: flex-start;
  }

  .title {
    font-size: 1.5rem !important;
  }
}
