.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
    transition: var(--default-2s);
}

.logo:hover {
    transform: scale(1.05);
}

.logo:active {
    transform: scale(1);
}

.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .nav {
        display: none;
    }
}
