.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
    transition: var(--default-2s);
}

.logo:hover {
    transform: scale(1.05);
}

.logo:active {
    transform: scale(1.0);
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}