/** Header **/
.header {
  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--max-content-width);

  padding: 2rem 1.5rem;
}

.logo {
  width: 200px;
  cursor: pointer;
  transition: var(--default-2s);
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(1);
}

.menuIcon {
  font-size: 32px;
  fill: var(--light);
}

.navMobile {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.navLink {
  margin: 0 3rem 0 0;
}

/** Dropdown content **/

.communityDropdown {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdownTitle {
  text-transform: uppercase;

  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.1em;

  margin: 0 0 1rem 0;
}

.dropdownLinks {
  margin: 0 0 1rem 0;
}

.row {
  display: flex;
  align-items: center;

  margin-top: auto;
}

.communityLink {
  color: var(--main-color);
  text-transform: capitalize;
}

.outIcon {
  margin: 0 0 0 0.5rem;
  font-size: 16px;
  fill: var(--main-color);
}

.newsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .navMobile {
    display: unset;
  }

  .nav {
    display: none;
  }

  .linksMobile {
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  .navLink {
    text-align: left;
    justify-content: left;
    margin: 0 0 1.5rem 0;
  }
}
