.heroSection {
    color: white;
    text-align: center;
    margin: 0px auto;
    position: relative;
}

.stars {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(/images/stars-alpha.png);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    opacity: 0.75;
}

.heroTitle {
    position: absolute;
    bottom: 4rem;
    font-size: var(--title);
}

.planetHolder {
    margin: 0px auto;
    max-width: 600px;
    position: relative;
}

.mars {
    width: 100%;
}

.videoHolder {
    position: relative;
    margin: 0px auto;
    max-width: 800px;
}