.heroSection {
  position: relative;

  min-height: 100vh;
}

.stars {
  position: absolute;
  z-index: -1;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(/images/stars-alpha.png);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
  opacity: 0.75;
}

.mars {
  width: 100%;
  transform: rotate(-90deg);
}

.content {
  padding: 4rem 0;
  max-width: 800px;
}

.heroTitle {
  margin: 0 0 3rem 0;
}

.videoHolder {
  position: relative;
  max-width: 640px;
}

@media only screen and (max-width: 910px) {
  .heroSection {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
