.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;

  max-width: 768px;
}

.gridImage {
  height: 256px;
  width: 384px;

  object-fit: cover;

  border-radius: var(--border-radius-min);

  box-shadow: var(--card-shadow);
}

@media only screen and (max-width: 660px) {
  .imageGrid {
    grid-gap: 2rem;
    height: fit-content;
  }

  .gridImage {
    height: 128px;
  }
}
