.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;

  max-width: 768px;
}

.gridImage {
  object-fit: cover;
  height: 256px;
  border-radius: var(--border-radius-min);
  width: 100%;
}

@media only screen and (max-width: 660px) {
  .imageGrid {
    grid-gap: 2rem;
    height: fit-content;
  }

  .gridImage {
    height: 128px;
  }
}
