.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  color: var(--light);
  font-weight: 500;
  cursor: pointer;
  opacity: 0.9;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.navLink:hover {
  opacity: 1;
  color: var(--main-color) !important;
}

.dropdown {
  fill: var(--light);
  font-size: 24px;

  margin: 0 0 0 0.5rem;
}
