.container {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

.icon:hover {
  font-size: 28px;
  margin-right: 1rem;

  transform: translateY(-6px);
}

.secondary svg path,
.secondary svg g {
  fill: var(--secondary-color);
}

.light svg path,
.light svg g {
  fill: var(--light);
}
