.holder {
  margin-top: 4rem;
  position: relative;
}

.video {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.video:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .gradient {
    display: none;
  }
}
