* {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter var';
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("Inter.var.woff2?v=3.13") format("woff2");
}

:root {
    --main-color: #839CDB;
    --main-color-darker: #6F85BD;
    --main-color-darkest: #6073A4;
    --green: #8BFFAC;
    --bg-gradient: linear-gradient(180deg, #000000 0%, #110823 26.04%, #152A53 49.48%, #052113 89.06%, #000000 100%);
    --medium: 500;
    --bold: 700;
    --extra-bold: 900;
    --default-2s: all .2s ease;
    --title: 60px;
    --subTitle: 24px;
    --footnote: 18px;
    --tinted-text: 0.75;
    --border-radius: 10px;
    --spacer-height: 22rem;
}

@media only screen and (max-width: 1024px) {
    :root {
        --spacer-height: 6rem;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --title: 36px;
        --subTitle: 18px;
    }
}

body {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
}

a {
    color: white;
    font-size: 16px;
    font-weight: var(--medium);
    cursor: pointer;
    opacity: 0.75;
    transition: var(--default-2s);
    text-decoration: none;
}

a:hover {
    opacity: 1;
}